*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url(img/imge5.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 20px;
    font-size: 22px;
    color: white;
}

h2 {
    margin-right: 10px;
    font-size: 20px;
}

em{
    font-size: x-small;
}

.container{
    background-image: linear-gradient(to right, rgba(200,8,207,0.75), rgba(28, 184, 176, 0.8));
    width: 500px;
    height: 250px;
    text-align: center;
    margin-left: 50px;
    font-size: large;
    padding-top: 20px;
    border-radius: 6px;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10, 20 10, 20;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.ul, li, a {
    text-decoration: none;
    font-weight: 1000px;
}

